@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 150, 103);
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 100vh;
    margin: 0;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.containerchart {
    background-color: rgb(240, 245, 242);
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 100vh;
    margin: 0;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.chart {
    background-color: rgb(235, 235, 240);
    position: relative;
    font-family: 'Lato', sans-serif;
    color: black;
}

h1,
h3,
h4 {
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
}

.inc-exp-container {
    background-color: #fff;
    padding: 0px;
    display: flex;
    border: 0;
    width: 100%;
    justify-content: space-between;
    margin: 0px 0;
    height: 50px;
}

.receive {
    background-color: rgb(252, 247, 247);
    padding: 0px;
    display: flex;
    border: 0;
    width: 100%;
    justify-content: space-between;
    margin: 0px 0;
    height: 170px;
}

.available-stock {
    background-color: rgb(105, 92, 167);
    padding: 0px;
    border: 0;
    width: 100%;
    justify-content: space-between;
    margin: 0px 0;
    overflow: scroll;
}

.navbar {
    padding: 0px;
    display: flex;
    border: 0;
    height: 50px;
    width: 100%;
    top: 0;
    justify-content: space-between;
    margin: 0px 0;
    border-radius: 10%;
}

.container {
    text-align: center;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input[type='text'],
input[type='number'] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.btn {
    cursor: pointer;
    background-color: #0e8841;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    width: 100%;
    border-radius: 5%;
}

.btn:focus,
.delete-btn:focus {
    outline: 1;
}

.table {
    padding: 0;
    background-color: #f35eb3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.th,
td {
    margin: 0px;
    padding: 0px;
}

.btn.btn-danger.btn-sm {
    cursor: pointer;
    background-color: #ee1f08;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 0px;
    width: 100%;
}

.btn:hover {
    cursor: pointer;
    background-color: #f019a1;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #17cebf;
    border-radius: 10%;
}

.information {
    background-color: #4464a5;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

input {
    width: 300px;
    height: 50px;
    border-radius: 10%;
    font-size: 20px;
    padding-left: 10px;
    margin: 5px;
    background-color: #cabebe;
}

button {
    width: 320px;
    height: 50px;
    border-radius: 10%;
    margin-top: 15px;
    background-color: #08cc33;
}

button:hover {
    cursor: pointer;
    background-color: #c40cca;
}

.employees {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.employee {
    width: 700px;
    height: auto;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.employee h3 {
    margin: 20px;
}